@model global::Server.Models.Admin.ShowOrAssignCredentialModel

@{
	ViewBag.Title = "Show or assign credential";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%">
	<tr>
		<th>Host</th>
		<th>Port</th>
		<th>Logon Type</th>
		<th>Username</th>
	</tr>
	@foreach (var item in Model.Credentials)
	{
	<tr>
		<td>@(item.Host ?? "Nil")</td>
		<td>@(item.Port?.ToString() ?? "Nil")</td>
		<td>@(item.LogonType?.Name ?? "NiL")</td>
		<td>@(item.Username ?? "NiL")</td>
		<td><input onclick="$('#@Html.IdFor(m => m.IdCredential)').val('@item.Id')" type="button" value="Use" /></td>
	</tr>
	}
</table>

<input onclick="$('#@Html.IdFor(m => m.IdCredential)').val('')" type="button" value="No Credential" />

@using (Html.BeginForm("ShowOrAssignCredential", "AdminLocations", FormMethod.Post))
{
	@Html.HiddenFor(m => m.IdCredential)
	@Html.HiddenFor(m => m.IdLocation)

	<input type="submit" value="Confirm" />
}