@model IEnumerable<global::Server.Models.Admin.DaemonInfoModel>

@{
	ViewBag.Title = "Daemons";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Daemons</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>OS</th>
		<th>Mac</th>
		<th>Date Added</th>
		<th>User name</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.DaemonInfo.Os</td>
		<td>@item.DaemonInfo.Mac</td>
		<td>@item.DaemonInfo.DateAdded</td>
		<td>@item.Nickname</td>
		<td><a href="/AdminDaemons/DaemonInfo?id=@(item.Id)">Show Tasks</a></td>
	</tr>
	}
</table>

