@model global::Server.Models.Admin.UnacceptedDaemonsModel

@{
    ViewBag.Title = "Unaccepted Daemons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var WoC = (IEnumerable<global::Server.Models.WaitingForOneClick>)ViewBag.WoCList;
}
<table style="width:100%">
    <tr>
        <th>Date of Reception</th>
        <th>OS</th>
        <th>Mac</th>
        <th>Date Added</th>
        <th>Pc Name</th>
        <th>Custom Name</th>
    </tr>
    @using (Html.BeginForm("UnacceptedDaemons", "AdminDaemons", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.IsDaemonAccepted)

        if (WoC != null)
        {
            var modl = WoC.ToArray();
            for (int i = 0; i < modl.Length; i++)
            {
                <tr>
                    <td>@modl[i].DateReceived</td>
                    <td>@modl[i].DaemonInfo.Os</td>
                    <td>@modl[i].DaemonInfo.Mac</td>
                    <td>@modl[i].DaemonInfo.DateAdded</td>
                    <td>@(modl[i].DaemonInfo.PcName ?? "Nil")</td>

                    <td><input id="cName@(modl[i].Id)" type="text"/></td>

                    <td><button onclick="AcceptDaemon(@modl[i].Id, $('#cName@(modl[i].Id)').val())" type="submit">Accept</button></td>
                    <td><button onclick="DeclineDaemon(@modl[i].Id, $('#cName@(modl[i].Id)').val())" type="submit">Decline</button></td>
                </tr>
            }
        }
    }
</table>

<script>
    function AcceptDaemon(id, name) {
        $('#@Html.IdFor(m => m.Id)').val(id);
        $('#@Html.IdFor(m => m.Name)').val(name);
        $('#@Html.IdFor(m => m.IsDaemonAccepted)').val(true);
    }

    function DeclineDaemon(id, name) {
        $('#@Html.IdFor(m => m.Id)').val(id);
        $('#@Html.IdFor(m => m.Name)').val(name);
        $('#@Html.IdFor(m => m.IsDaemonAccepted)').val(false);
    }
</script>