@model IEnumerable<global::Server.Models.WaitingForOneClick>

@{
    ViewBag.Title = "Unaccepted Daemons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table style="width:100%">
    <tr>
        <th>Date of Reception</th>
        <th>OS</th>
        <th>Mac</th>
        <th>Date Added</th>
        <th>Pc Name</th>
        <th>Custom Name</th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.DateReceived</td>
                <td>@item.DaemonInfo.Os</td>
                <td>@item.DaemonInfo.Mac</td>
                <td>@item.DaemonInfo.DateAdded</td>
                <td>@item.DaemonInfo.PcName</td>

                <td>@item.DaemonInfo.Name</td>

                <td><a href="/AdminDaemons/AcceptDaemon?id=@(item.Id)">Accept</a></td>
                <td><a href="/AdminDaemons/DeclineDaemon?id=@(item.Id)">Decline</a></td>
            </tr>
        }
        <a href="/AdminDaemons/AcceptAllDaemons">Accept All</a>
        <a href="/AdminDaemons/DeclineAllDaemons">Decline All</a>
    }
</table>