@model global::Server.Models.Task

@{
	ViewBag.Title = "Delete Task";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("DeleteTask", "AdminTasks", FormMethod.Post))
{
	<table>
		@Html.HiddenFor(x => x.Id)
		<tr>
			<td>
				@Html.LabelFor(x => x.Name)
			</td>
			<td>
				@Html.DisplayTextFor(x => x.Name)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(x => x.Description)
			</td>
			<td>
				@Html.DisplayTextFor(x => x.Description)
			</td>
		</tr>
	</table>

	<input type="submit" value="Confirm" />
	<input type="reset" value="Clear" />
}