@model global::Server.Models.Admin.NewEditTaskLocationsModel

@{
	ViewBag.Title = "Edit Task Location";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%">
	<tr>
		<th>Uri</th>
	</tr>
	@foreach (var item in Model.Locations)
	{
		<tr>
			<td>@item.Uri</td>
			<td><input onclick="$('#@Html.IdFor(m => m.IdSource)').val('@item.Id')" type="button" value="Use as source" /></td>
			<td><input onclick="$('#@Html.IdFor(m => m.IdDestination)').val('@item.Id')" type="button" value="Use as destination" /></td>
		</tr>
	}
</table>

@using (Html.BeginForm("EditTaskLocation", "AdminTasks", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.IdTask)
	@Html.HiddenFor(m => m.IdSource)
	@Html.HiddenFor(m => m.IdDestination)

	<input type="submit" value="Confirm" />
}