@model global::Server.Models.Daemon

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Backup Type</th>
		<th>Zip Algorithm</th>
		<th>Compression Level</th>
		<th>Last Changed</th>
	</tr>
	@foreach (var i in Model.Tasks)
	{
	<tr>
		<td>@i.Id</td>
		<td>@i.Name</td>
		<td>@i.BackupType.ShortName</td>
		<td>@(i.TaskDetail.ZipAlgorithm ?? "NO ZIPPING")</td>
		<td>@(i.TaskDetail.CompressionLevel?.ToString() ?? "NO LEVEL")</td>
		<td>@i.LastChanged</td>
		<td><a href="/AdminTasks/TaskLocations?id=@(i.Id)">Show Task Locations</a></td>
		<td><a href="/AdminTasks/TaskTimes?id=@(i.Id)">Edit Times</a></td>
		<td><a href="/AdminTasks/EditTask?id=@(i.Id)">Edit</a></td>
		<td><a href="/AdminTasks/DeleteTask?id=@(i.Id)">Delete</a></td>
	</tr>
	}
</table>

<a href="/AdminTasks/NewTask?id=@(Model.Id)">New Task</a>