@{
	ViewBag.Title = "Admin Panel";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin panel</h2>

<br />
User management
<ul class="list-unstyled">
	<li>@Html.ActionLink("User List", "Index", "AdminUsers")</li>
	<li>@Html.ActionLink("Preshared Key List", "Index", "AdminPresharedKeys")</li>
</ul>

<br />
Daemon management
<ul class="list-unstyled">
	<li>@Html.ActionLink("Daemon List", "Index", "AdminDaemons")</li>
</ul>

<br />
Groups management
<ul class="list-unstyled">
	<li>@Html.ActionLink("Group List", "Index", "AdminGroups")</li>
</ul>

<br />
Power
<ul class="list-unstyled">
    <li>@Html.ActionLink("Exit", "Exit", "AdminPower")</li>
    <li>@Html.ActionLink("Shutdown", "Shutdown", "AdminPower")</li>
    <li>@Html.ActionLink("Restart", "Restart", "AdminPower")</li>
</ul>

<br />
<li>@Html.ActionLink("Uptime", "Index", "AdminUptime")</li>
