@model global::Server.Models.User

@{
	ViewBag.Title = "Backupper - User";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		@using (Html.BeginForm())
		{
			@Html.HiddenFor(m => m.Id)

			@Html.LabelFor(m => m.Nickname)
			@Html.TextBoxFor(m => m.Nickname)

			@Html.LabelFor(m => m.Password)
			@Html.PasswordFor(m => m.Password)
		}
    </div>
</body>
</html>
