@model IEnumerable<global::Server.Models.UserLog>

@{
    ViewBag.Title = "User logs";
}

<h2>User logs</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>User ID</th>
		<th>Log Type ID</th>
		<th>Code</th>
		<th>SText</th>
		<th>LText</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.IdUser</td>
		<td>@item.IdLogType</td>
		<td>@item.Code</td>
		<td>@item.ShortText</td>
		<td>@item.LongText</td>
	</tr>
	}
</table>