@model global::Server.Models.LocationCredential

@{
	ViewBag.Title = "Delete Location Credential";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
	<tr>
		<td>
			@Html.LabelFor(m => m.Host)
		</td>
		<td>
			@Html.DisplayFor(m => m.Host)
		</td>
	</tr>
	<tr>
		<td>
			@Html.LabelFor(m => m.Port)
		</td>
		<td>
			@Html.DisplayFor(m => m.Port)
		</td>
	</tr>
	<tr>
		<td>
			Logon Type
		</td>
		<td>
			@Html.DisplayFor(m => m.LogonType.Name)
		</td>
	</tr>
	<tr>
		<td>
			@Html.LabelFor(m => m.Username)
		</td>
		<td>
			@Html.DisplayFor(m => m.Username)
		</td>
	</tr>
	<tr>
		<td>
			@Html.LabelFor(m => m.Password)
		</td>
		<td>
			@Html.DisplayFor(m => m.Password)
		</td>
	</tr>
</table>

@using (Html.BeginForm("DeleteLocationCredential", "AdminLocationCredentials", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)

	<input type="submit" value="Confirm" />
}