@model global::Server.Models.LocationCredential

@{
	ViewBag.Title = "Edit Location Credential";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditLocationCredential", "AdminLocationCredentials", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)

	<table>
		<tr>
			<td>
				@Html.LabelFor(m => m.Host)
			</td>
			<td>
				@Html.TextBoxFor(m => m.Host)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.Port)
			</td>
			<td>
				@Html.TextBoxFor(m => m.Port)
			</td>
		</tr>
		<tr>
			<td>
				Logon Type
			</td>
			<td>
				@Html.DropDownListFor(m => m.IdLogonType, (IEnumerable<SelectListItem>)ViewBag.LogonTypes, "--NO LOGON TYPE--")
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.Username)
			</td>
			<td>
				@Html.TextBoxFor(m => m.Username)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(m => m.Password)
			</td>
			<td>
				@Html.TextBoxFor(m => m.Password)
			</td>
		</tr>
	</table>

	<input type="submit" value="Confirm" />
	<input type="reset" value="Cancel" />
}