@model global::Server.Models.Admin.LoginModel
@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>
<br/>
<img src="~/Images/oldManUnderConstruction.gif">
<br/>
@using (Html.BeginForm("Login", "AdminLogin", FormMethod.Post))
{
	<table>
		<tr>
			@Html.LabelFor(model => model.Nickname)
			@Html.EditorFor(model => model.Nickname)
		</tr>
		<tr>
			<td>@Html.ValidationMessageFor(model => model.Nickname)</td>
		</tr>

		<tr>
			<td>@Html.LabelFor(model => model.Password)</td>
			<td>@Html.EditorFor(model => model.Password)</td>
		</tr>
		<tr>
			<td>@Html.ValidationMessageFor(model => model.Password)</td>
		</tr>

		<tr>
			<td>
				<input type="submit" name="name" value="Login" />
				<input type="reset" name="name" value="Clear" />
			</td>
		</tr>
	</table>
}