<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	@Styles.Render("~/Content/css")
	<title>@ViewBag.Title</title>
</head>

<body>
	<nav class="container-fluid brr-grid">
		@Html.ActionLink("Home", "Index", "Home", null, new { @class = "brr-nav-link brr-nav-general-row" })
		@Html.ActionLink("API", "Index", "Help", null, new { @class = "brr-nav-link brr-nav-general-row" })
		@Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "brr-nav-link brr-nav-general-row" })
		@if (ViewBag.IsUserLoggedIn ?? false)
		{
			@Html.Partial("~/Views/Shared/_AdminNavBarPart.cshtml")
		}
	</nav>

    <br />

	<div class="container-fluid">
		@RenderBody()

        <footer class="brr-footer">
            <p style="grid-row: 1; grid-column: 1;" class="d-inline">&copy; @DateTime.Now.Year - Backupper</p>
            @if (ViewBag.IsUserLoggedIn ?? false)
            {
                @Html.Partial("~/Views/Shared/_AdminFootBarPart.cshtml")
            }
        </footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jquery_validate")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection(name: "scripts", required: false)
</body>
</html>
